:root {
    --box-size: 170px;
}

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    user-select: none;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: "impact";
}

#loadAll {
    position: fixed;
    font-size: 14px;
    top: 10px;
    left: 10px;
    width: 150px;
    cursor: pointer;
}

.heading {
    text-align: center;
    font-size: 36px;
    margin: 0 0 25px;
}

#searchText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    z-index: 1;
}

#buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.button-container {
    position: relative;
    width: var(--box-size);
    height: var(--box-size);
    margin: 20px;
}

.button {
    height: var(--box-size);
    width: var(--box-size);
    background-color:red;
    border-radius: 20px;
    border: 5px solid white;
    display: flex;
    cursor: pointer;
}

.button-text {
    margin: auto;
    padding: 10px;
    font-size: 24px;
    text-align: center;
}